<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>com.customer.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerInsert</display-name>
    <servlet-name>CustomerInsert</servlet-name>
    <servlet-class>com.customer.CustomerInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerInsert</servlet-name>
    <url-pattern>/CustomerInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerUpdateServlet</display-name>
    <servlet-name>customerUpdateServlet</servlet-name>
    <servlet-class>com.customer.customerUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerUpdateServlet</servlet-name>
    <url-pattern>/customerUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerDeleteServlet</display-name>
    <servlet-name>customerDeleteServlet</servlet-name>
    <servlet-class>com.customer.customerDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerDeleteServlet</servlet-name>
    <url-pattern>/customerDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginservletCom</display-name>
    <servlet-name>loginservletCom</servlet-name>
    <servlet-class>com.company.loginservletCom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservletCom</servlet-name>
    <url-pattern>/loginservletCom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>companyUpdateServlet</display-name>
    <servlet-name>companyUpdateServlet</servlet-name>
    <servlet-class>com.company.companyUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>companyUpdateServlet</servlet-name>
    <url-pattern>/companyUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>companyDeleteServlet</display-name>
    <servlet-name>companyDeleteServlet</servlet-name>
    <servlet-class>com.company.companyDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>companyDeleteServlet</servlet-name>
    <url-pattern>/companyDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyInsert</display-name>
    <servlet-name>CompanyInsert</servlet-name>
    <servlet-class>com.company.CompanyInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyInsert</servlet-name>
    <url-pattern>/CompanyInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cuslogoutServlet</display-name>
    <servlet-name>cuslogoutServlet</servlet-name>
    <servlet-class>com.customer.cuslogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cuslogoutServlet</servlet-name>
    <url-pattern>/cuslogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>