@charset "ISO-8859-1";
/*Whole Page*/
*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}

body{
    position: relative;
    padding-top: 80px;
    padding-bottom: 150px;
    min-height: 100vh;
}
/*Header & Footer*/
header, footer{
    position: absolute;
    background-color: black;
    width: 100%;
    color: white;
}
/*Header*/
header{
  height: 80px;
  top: 0%;
}

header img{
    position: absolute;
    margin-top: 10px;
    left: 1%;
}
/*Navigation Bar*/
nav{
   position: absolute;
   width: 100%;
}

nav a{
    border-radius: 50px;
    position: relative;
    left: 5%;
    top: 20px;
    color:white;
    text-decoration: none;
    margin-right: 40px;
}

nav a:link, nav a:visited {
  background-color: black;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

nav a:hover, nav a:active {
  background-color: rgba(181, 163, 163, 0.968);
}

/*Search Bar*/
.search input[type=text] {
  position: absolute;
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  float: left;
  width: 12%;
  background: #f1f1f1;
  border-radius: 50px;
  left: 78%;
  top: 20px;
}

.search button {
  position: absolute;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 7px;
  left: 92%;
  top: 20px;
}

.search button:hover{
  font-size: 10px;
}

/*Main*/
main{
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
    
}
/*Footer*/
footer{
    position: absolute;
    height: 150px;
    bottom: 0%;
}

footer h4{
    position: absolute;
    left: 50%;
    bottom: 0%;
}

/*Feedback button*/
.feedback {
    position: absolute;
    left: 85%;
    border-radius: 4px;
    background-color: hsl(38, 91%, 54%);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 60px;
  }
  
  .feedback span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .feedback span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .feedback:hover span {
    padding-right: 15px;
  }
  
  .feedback:hover span:after {
    opacity: 1;
    right: 0;
  }
/*Social Media*/
  .fa {
    
    padding: 20px;
    font-size: 15px;
    width: 10px;
    height: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 60px;

  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

  .quickLinks{
    text-decoration: none;
    margin-left: 80px;
    color: white;

  }
.topic{
    font-size: 55px;
    text-align: center;
    padding-top: 50px;
}

.discription{
    font-size: 45px;
    text-align: center;
    padding: 30px;
}

.startBtn {
    position: absolute;
    left: 45%;
    border-radius: 4px;
    background-color: hsl(8, 91%, 54%);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    padding: 50px;
    width: 350px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 60px;
  }
  
  .startBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .startBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .startBtn:hover span {
    padding-right: 15px;
  }
  
  .startBtn:hover span:after {
    opacity: 1;
    right: 0;
  }